
@using (Html.BeginForm("ModifiedFoodRating", "Reviews", FormMethod.Post))
{
    <input type="hidden" name="DeliveryFoodRatingId" value="@Model.IdInBaseDeliveryRating" />
    <input type="hidden" name="IdDelivery" value="@Model.DeliveryId" />

    <tr>
        <td>Timely delivery:</td>
        <td><input type="checkbox" name="IsIntimeFood" value="true"></td>
    </tr>

    <tr>
        <td>Food freshness:</td>
        <td><input type="number" name="FreshFood" min="0" max="10" value="10" /></td>
    </tr>

    <tr>
        <td>Correct packaging:</td>
        <td><input type="number" name="СorrectPackFood" min="0" max="10" value="10" /></td>
    </tr>

    <tr>
        <td>Common delivery raiting:</td>
        <td><input type="number" name="CommonDeliveryRaitingFood" min="0" max="10" value="10" /></td>
    </tr>

    <tr>
        <td>Comment:</td>
        <td><textarea input type="text" name="TextCommentFood" class="form-control" rows="3" maxlength="200"></textarea></td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-danger btn-block" onclick="window.history.back();">Cancel</button></td>
        <td><input type="submit" class="btn btn-success btn-block" value="To add raiting" /></td>
    </tr>
}