
@using (Html.BeginForm("AddEquipmentRating", "Reviews", FormMethod.Post))
{
    <tr>
        <td colspan="2" align="center">Raiting delivery:</td>
    </tr>

    <tr>
        <td>Timely delivery:</td>
        <td><input type="checkbox" name="IsIntimeEquipment"></td>
    </tr>

    <tr>
        <td>Equipment completeness:</td>
        <td><input type="checkbox" name="IsCompleteEquipment"></td>
    </tr>

    @Html.Hidden("DeliveryId", "ViewBag.DeliveryId")

    <tr>
        <td><button type="button" class="btn btn-danger btn-block" onclick="window.history.back();">Cancel</button></td>
        <td><input type="submit" class="btn btn-success btn-block" value="To add raiting" /></td>
    </tr>
}
