
@using (Html.BeginForm("AddFragileRating", "Reviews", FormMethod.Post))
{
    <tr>
        <td colspan="2" align="center">Raiting delivery:</td>
    </tr>

    <tr>
        <td>Timely delivery:</td>
        <td><input type="checkbox" name="IsIntimeFragile"></td>
    </tr>

    <tr>
        <td>Presence of defects:</td>
        <td><input type="number" name="IsDefectFragile" min="1" max="10" value="10" /></td>
    </tr>

    <tr>
        <td>Package integrity:</td>
        <td><input type="number" name="IsPackCompleteFragile" min="1" max="10" value="10" /></td>
    </tr>

    @Html.Hidden("DeliveryId", "ViewBag.DeliveryId")

    <tr>
        <td><button type="button" class="btn btn-danger btn-block" onclick="window.history.back();">Cancel</button></td>
        <td><input type="submit" class="btn btn-success btn-block" value="To add raiting" /></td>
    </tr>

}
