
@using (Html.BeginForm("ModifiedEquipmentRating", "Reviews", FormMethod.Post))
{
    <input type="hidden" name="DeliveryEquipmentRatingId" value="@Model.IdInBaseDeliveryRating"/>
    <input type="hidden" name="IdDelivery" value="@Model.DeliveryId" />

    <tr>
        <td>Timely delivery:</td>
        <td><input type="checkbox" name="IsIntimeEquipment" value="true"></td>
    </tr>

    <tr>
        <td>Equipment completeness:</td>
        <td><input type="checkbox" name="IsCompleteEquipment" value="true"></td>
    </tr>

    <tr>
        <td>Common delivery raiting:</td>
        <td><input type="number" name="CommonDeliveryRaitingEquipment" min="0" max="10" value="10" /></td>
    </tr>

    <tr>
        <td>Comment:</td>
        <td><textarea input type="text" name="TextCommentEquipment" class="form-control" rows="3" maxlength="200"></textarea></td>
    </tr>

    <tr>
        <td><button type="button" class="btn btn-danger btn-block" onclick="window.history.back();">Cancel</button></td>
        <td><input type="submit" class="btn btn-success btn-block" value="To add raiting" /></td>
    </tr>
}
